<!DOCTYPE html>
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <!-- Google Image -->
    <script type="application/ld+json">
      {"@context" : "http://schema.org",
      "@type" : "Organization",  
       "name" : "Nano Paper Wallet",
       "url" : "https://nanopaperwallet.com", 
       "logo": "https://nanopaperwallet.com{{asset_url_for('assets/img/logo.png')}}" }
    </script>
    <!-- Google Image END -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nano Paper Wallet | Create Paper Wallets for NANO</title>
    <meta name="description" content="A platform to create paper wallets for NANO with ease.">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Nano Paper Wallet | Create Paper Wallets for NANO">
    <meta itemprop="description" content="A platform to create paper wallets for NANO with ease.">
    <meta itemprop="image" content="https://nanopaperwallet.com{{asset_url_for('assets/img/preview.jpg')}}">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://nanopaperwallet.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Nano Paper Wallet | Create Paper Wallets for NANO">
    <meta property="og:description" content="A platform to create paper wallets for NANO with ease.">
    <meta property="og:image" content="https://nanopaperwallet.com{{asset_url_for('assets/img/preview.jpg')}}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Nano Paper Wallet | Create Paper Wallets for NANO">
    <meta name="twitter:description" content="A platform to create paper wallets for NANO with ease.">
    <meta name="twitter:image" content="https://nanopaperwallet.com{{asset_url_for('assets/img/preview.jpg')}}">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{asset_url_for('assets/img/favicon/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{asset_url_for('assets/img/favicon/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset_url_for('assets/img/favicon/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset_url_for('assets/img/favicon/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset_url_for('assets/img/favicon/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset_url_for('assets/img/favicon/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{asset_url_for('assets/img/favicon/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset_url_for('assets/img/favicon/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset_url_for('assets/img/favicon/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{asset_url_for('assets/img/favicon/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset_url_for('assets/img/favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{asset_url_for('assets/img/favicon/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset_url_for('assets/img/favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{asset_url_for('assets/img/favicon/favicon.manifest')}}">
    <meta name="msapplication-TileImage" content="{{ asset_url_for('assets/img/favicon/ms-icon-144x144.png') }}">
    <meta name="msapplication-TileColor" content="#2677FF">
    <meta name="theme-color" content="#2677FF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2677FF">
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Various data -->
    <meta id="nanopaperwallet-data" data-overpass-mono="{{ asset_url_for('assets/fonts/OverpassMono-w700.ttf') }}" />
</head>

<body>
    <div id="app"></div>

    <!-- JavaScript at the bottom for fast page loading -->
    {{ javascript_tag('app_js') | safe }}
    <!-- end scripts -->
</body>

</html>